<div>
  <h1>App Component</h1>
  <div>
    <multi-question [questions]="questions"></multi-question>
    <div>
      <ul>
        <li>{{questions[0].choice}}</li>
        <li>{{questions[1].choice}}</li>
        <li>{{questions[2].choice}}</li>
        <li>{{questions[3].choice}}</li>
      </ul>
    </div>
  </div>
  <div>
    <multi-question [questions]="questions2"></multi-question>
    <div>
      <ul>
        <li>{{questions2[0].choice}}</li>
        <li>{{questions2[1].choice}}</li>
        <li>{{questions2[2].choice}}</li>
        <li>{{questions2[3].choice}}</li>
      </ul>
    </div>
  </div>
</div>